* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    outline: none;
}

body {
    background: url("img/background.png") no-repeat center center fixed;;
    background-size: cover;
}

.container {
    background-color: #d1d1d1;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.input-task {
    border: none;
    border-radius: 5px;
    width: 335px;
    height: 40px;
    padding-left: 10px;
    font-size: 17px;
}

.button-add-task {
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #003329;
    color: white;
    font-size: 17px;
    padding: 0px 15px;
    float: right;
    cursor: pointer;
    font-weight: bold;
}

.button-add-task:hover {
    opacity: 0.8;
}

.button-add-task:active {
    opacity: 0.5;
}

.list-tasks {
    width: 100%;
    list-style: none;
    margin-top: 60px;
}

.task {
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

img {
    height: 25px;
    opacity: 0;
}

.task:hover img {
    opacity: 1;
    transition: 0.5s ease-in-out;
}

.done {
    background-color: #8fac55;
    text-decoration: line-through;
}


